<%- include('./partials/head') %>

<body>
    <%- include('./partials/outheader')%>
    <main class="container">
        <p>This is AutoRecon.</p>
        <p>Find subdomains and get their dns info in one click.</p>
        <p>This app uses VirusTotal API to find subdomains.</p>
        <p>It uses nodejs dns module to get the dns info of targets.</p>

    </main>
    <%- include('./partials/footer')%>
</body>
</html>