<%- include('./partials/head')%>
<%- include('./partials/outheader')%>
<body>

    <main class="container text-center mt-5">
        <p class="display-4">
            Something went wrong
        </p>
        <a href="/" class="btn btn-primary">Go to Home</a>
    </main>

    <%- include('./partials/footer')%>
</body>
</html>